.search-cont {
  height: 50vh;
  width: 100vw;
  background: url("./search-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.search-div {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.search-box {
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  background-color: #4682b4;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
}
.search-inp {
  border: none;
  padding: 1rem 4rem;
  outline: none;
}
.search-btn {
  border: none;
  border-radius: 8%;
  font-size: 1rem;
  padding: 0.5rem 0.8rem;
  background-color: #4682b4;
  color: #fff;
}
.search-btn:hover {
  cursor: pointer;
  opacity: 80%;
}
